{% extends '::base.html.twig' %}

{% form_theme formulaire 'AppoloBackOfficeBundle:Form:fields.html.twig' %}

{% block body %}
    <h1>{{ name }}</h1>

    <div class="form-basic">
            {{ form_start(formulaire) }}
            {{ form_errors(formulaire) }}
            {{ form_end(formulaire) }}
    </div>
{% endblock %}
